#canvas-container{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
}

#canvas-container input{
  border: 1px solid #dcdcdc;
  padding: 5px;
  color: #9c9c9c;
  font-weight: 300;
}

#canvas-container input[type="file"]{
  border: 0;
}

#canvas-container input:focus, button:focus{
  outline: none;
}

#canvas-params-header{
  text-align: center;
}

#canvas-params-header > button{
  background-color: #2e84b9;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  border: 0;
  margin-bottom: 10px;
  padding: 7px 10px;
}

#canvas-params-container{
  position: absolute;
  background-color: #e2e2e2;
  width: 300px;
  height: calc(100% - 20px);
  padding: 10px;
  overflow: scroll;
}

.canvas-params{
  background-color: #f7f7f7;
  padding: 15px 20px;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #ddd;
}

.canvas-params h2{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  margin-left: -5px;
}

.canvas-params h3{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  margin-top: 15px;
}

.canvas-params thead td{
  font-size: 12px;
  font-weight: 300;
  color: #adadad;
}

.canvas-params > div{
  display: none;
}

.canvas-params input[type="number"]{
  width: 50px;
}

.canvas-params input[type="text"]{
  width: 125px;
}

.canvas-params .jscolor{
  width: 70px;
}

.canvas-params .canvas-params-toggle{
  position: absolute;
  top: 15px;
  right: 50px;
}

.canvas-params .canvas-shape-remove{
  position: absolute;
  top: 15px;
  right: 15px;
}

.canvas-params button{
  background: none;
  border: 0;
}

#canvas-preview-container{
  position: absolute;
  left: 320px;
  width: calc(100% - 320px);
  height: 100%;
}

#canvas-footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 5px 20px;
}

.canvas-preview{
  position: absolute;
  top: 50px;
}
